@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);





body {
  font-family: Josefin Sans;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 2px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
  color: #9d700c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #9d700c;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #9d700c !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #ea5362;
  color: #ea5362;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #f5aeb5;
  border-color: #f5aeb5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #f5aeb5 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ea5362 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
  background: transparent;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffbc00;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow {
  background-color: transparent;
  opacity: .7;
  transition: .3s;
  text-align: center;
  width: auto;
}
.mbr-arrow:hover {
  opacity: 1;
}
.mbr-arrow a {
  display: block;
}
.mbr-arrow a i {
  color: #ffbc00;
  top: auto !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #f9e2af;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #f9e2af;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #f9e2af;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-r1ZU49t9Cn .nav-item:focus,
.cid-r1ZU49t9Cn .nav-link:focus {
  outline: none;
}
.cid-r1ZU49t9Cn .nav-dropdown .dropdown-menu {
  padding-top: 0;
}
.cid-r1ZU49t9Cn .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-r1ZU49t9Cn .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-r1ZU49t9Cn .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-r1ZU49t9Cn .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-r1ZU49t9Cn .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0em 0em !important;
  transition: none;
  margin: 0 !important;
}
.cid-r1ZU49t9Cn .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
}
.cid-r1ZU49t9Cn .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-r1ZU49t9Cn .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-r1ZU49t9Cn .navbar .navbar-collapse {
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 1;
}
.cid-r1ZU49t9Cn .navbar .navbar-collapse.show,
.cid-r1ZU49t9Cn .navbar .navbar-collapse.collapsing {
  display: flex;
}
.cid-r1ZU49t9Cn .navbar .navbar-collapse .img-column img {
  width: 100%;
}
.cid-r1ZU49t9Cn .navbar .navbar-collapse .contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cid-r1ZU49t9Cn .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-r1ZU49t9Cn .navbar.collapsed .dropdown-menu {
  text-align: inherit;
  background: transparent !important;
}
.cid-r1ZU49t9Cn .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-r1ZU49t9Cn .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-r1ZU49t9Cn .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-r1ZU49t9Cn .navbar.collapsed ul.navbar-nav {
  word-break: break-word;
}
.cid-r1ZU49t9Cn .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: inherit;
}
.cid-r1ZU49t9Cn .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-r1ZU49t9Cn .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-r1ZU49t9Cn .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-r1ZU49t9Cn .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-r1ZU49t9Cn .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-r1ZU49t9Cn .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-r1ZU49t9Cn .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-r1ZU49t9Cn .dropdown-item.active,
.cid-r1ZU49t9Cn .dropdown-item:active {
  background-color: transparent;
}
.cid-r1ZU49t9Cn .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-r1ZU49t9Cn .nav-dropdown .link {
  margin: .2em 0em;
}
.cid-r1ZU49t9Cn .nav-dropdown .link.dropdown-toggle {
  margin: 0;
}
.cid-r1ZU49t9Cn .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin: 0em 0em;
  padding: 0.2em 0em;
}
.cid-r1ZU49t9Cn .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-r1ZU49t9Cn .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-r1ZU49t9Cn .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-r1ZU49t9Cn ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-r1ZU49t9Cn .navbar-buttons {
  text-align: inherit;
}
.cid-r1ZU49t9Cn button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-r1ZU49t9Cn button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-r1ZU49t9Cn button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-r1ZU49t9Cn button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-r1ZU49t9Cn button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-r1ZU49t9Cn button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-r1ZU49t9Cn nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r1ZU49t9Cn nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-r1ZU49t9Cn nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-r1ZU49t9Cn nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r1ZU49t9Cn .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-r1ZU49t9Cn .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-r1ZU49t9Cn .icons-menu {
  text-align: inherit;
}
.cid-r1ZU49t9Cn .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-r1ZU49t9Cn .nav-link:hover,
.cid-r1ZU49t9Cn .dropdown-item:hover,
.cid-r1ZU49t9Cn .icons-menu .mbr-iconfont:hover {
  color: #cccccc !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-r1ZU49t9Cn .navbar {
    height: 77px;
  }
  .cid-r1ZU49t9Cn .navbar.opened {
    height: auto;
  }
}
@media (max-width: 767px) {
  .cid-r1ZU49t9Cn .navbar-collapse .img-column {
    display: none;
  }
  .cid-r1ZU49t9Cn .icons-menu,
  .cid-r1ZU49t9Cn .navbar-buttons,
  .cid-r1ZU49t9Cn .contact-block,
  .cid-r1ZU49t9Cn .text-column {
    text-align: center !important;
  }
}
.cid-r1ZU4GwW26 {
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-r1ZU4GwW26 H3 {
  color: #444444;
}
.cid-r1ZU4GwW26 .mbr-section-title,
.cid-r1ZU4GwW26 .ornament {
  color: #000000;
}
.cid-r1ZU5uEsYh {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-r1ZU5uEsYh .mbr-overlay {
  background: #232323;
}
.cid-r1ZU5uEsYh .mbr-section-title {
  letter-spacing: .5rem;
}
.cid-r1ZU5uEsYh .mbr-section-subtitle B {
  color: #5e5a5a;
}
.cid-r1ZU5uEsYh .mbr-section-subtitle {
  color: #5e5a5a;
}
.cid-r1ZU6BRb1G {
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-r1ZU6BRb1G .form-block {
  background: #444444;
  padding: 2rem;
  outline: 1px dashed #ffda73;
  outline-offset: -15px;
}
.cid-r1ZU6BRb1G .mbr-section-title {
  margin: 0;
}
.cid-r1ZU6BRb1G .row {
  justify-content: space-between;
  align-items: center;
}
.cid-r1ZU6BRb1G .input-wrap {
  padding: 0;
  margin-bottom: 1.3em;
}
.cid-r1ZU6BRb1G .input-wrap input {
  border: 1px solid #ddd;
  width: 100%;
  padding: .5rem 1rem;
}
.cid-r1ZU6BRb1G .mbr-section-btn .btn {
  margin-left: 4px !important;
}
.cid-r1ZU6BRb1G .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-r1ZU6BRb1G .text-element {
    padding-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-r1ZU6BRb1G .form-block {
    border: 1px dashed #ffda73;
    outline: 15px solid #444444;
  }
}
.cid-r1ZU6XoP6S {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-r1ZU6XoP6S .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  writing-mode: vertical-rl;
}
.cid-r1ZU6XoP6S .text-block {
  position: relative;
  z-index: 0;
}
.cid-r1ZU6XoP6S .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-r1ZU6XoP6S .box {
  left: 20%;
}
.cid-r1ZU6XoP6S .text-box {
  left: 0;
  transform: rotate(180deg);
}
.cid-r1ZU6XoP6S .mbr-section-text,
.cid-r1ZU6XoP6S .mbr-section-title {
  margin-left: 31%;
}
@media (max-width: 991px) {
  .cid-r1ZU6XoP6S .text-box {
    display: none;
  }
  .cid-r1ZU6XoP6S .mbr-section-title,
  .cid-r1ZU6XoP6S .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-r1ZU6XoP6S .box {
    display: none;
  }
  .cid-r1ZU6XoP6S .row {
    flex-direction: column-reverse;
  }
  .cid-r1ZU6XoP6S .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-r1ZU6XoP6S .text-box {
    writing-mode: bt-rl;
  }
}
.cid-r1ZU7IS0Py {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-r1ZU7IS0Py .content-block {
  text-align: center;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  background-color: #efefef;
  transition: all 0.4s ease-in-out;
}
.cid-r1ZU7IS0Py .content-block .mbr-text {
  margin: 0;
}
.cid-r1ZU7IS0Py .content-section {
  height: 100%;
  padding: 0 3rem;
  margin-bottom: 2rem;
}
.cid-r1ZU7IS0Py .image-wrap:hover img {
  opacity: 1;
  transform: translateY(-4%);
}
.cid-r1ZU7IS0Py .image-wrap:hover > .content-block {
  opacity: .6;
}
.cid-r1ZU7IS0Py .image-wrap {
  width: 100%;
  height: 100%;
}
.cid-r1ZU7IS0Py .image-wrap img {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.cid-r1ZU7IS0Py h4.mbr-text a {
  display: block;
  min-width: 100%;
}
.cid-r1ZU8tOjzY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-r1ZU8tOjzY .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-r1ZU8tOjzY .main-reverse {
  flex-direction: row-reverse;
}
.cid-r1ZU8tOjzY .image-element {
  padding: 0;
  display: flex;
  justify-content: center;
}
.cid-r1ZU8tOjzY .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-r1ZU8tOjzY .text-element {
  padding: 1rem;
}
.cid-r1ZU8tOjzY .main,
.cid-r1ZU8tOjzY .main-reverse {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-r1ZU8tOjzY .main:first-child {
    padding-top: 1rem;
  }
  .cid-r1ZU8tOjzY .image-element,
  .cid-r1ZU8tOjzY .text-element {
    margin-bottom: 1rem;
  }
  .cid-r1ZU8tOjzY .main-reverse {
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cid-r1ZU8tOjzY .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cid-r1ZU8tOjzY .image-element,
  .cid-r1ZU8tOjzY .text-element {
    margin-bottom: 0;
  }
  .cid-r1ZU8tOjzY .main:first-child {
    padding-top: 0;
  }
}
.cid-r1ZU9eHE3L {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-r1ZU9eHE3L .text-block {
  z-index: 2;
}
.cid-r1ZU9eHE3L .content-panel {
  width: 110%;
  background: #ffffff;
  padding: 3rem;
}
.cid-r1ZU9eHE3L .menu-box {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.cid-r1ZU9eHE3L .menu-box .box-price {
  flex-shrink: 0;
  margin-left: auto;
  word-break: break-word;
}
@media (max-width: 767px) {
  .cid-r1ZU9eHE3L .text-block {
    padding-bottom: 2rem;
  }
  .cid-r1ZU9eHE3L .content-panel {
    width: 100%;
    padding: 1rem;
  }
}
.cid-r1ZUa4WSuk {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-r1ZUa4WSuk .mbr-text {
  margin: 0;
}
.cid-r1ZUa4WSuk .text-element {
  padding: 2rem;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-r1ZUa4WSuk .row-element,
.cid-r1ZUa4WSuk .image-element {
  padding: 0;
}
.cid-r1ZUa4WSuk .image-element {
  display: flex;
  justify-content: center;
}
.cid-r1ZUa4WSuk .image-element .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-r1ZUa4WSuk .image-element .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-r1ZUa4WSuk .carousel-item {
  justify-content: center;
}
.cid-r1ZUa4WSuk .carousel-item.active,
.cid-r1ZUa4WSuk .carousel-item-next,
.cid-r1ZUa4WSuk .carousel-item-prev {
  display: flex;
}
.cid-r1ZUa4WSuk .carousel-indicators {
  left: 50%;
  margin: 20px auto 0;
}
.cid-r1ZUa4WSuk .carousel-indicators .active {
  opacity: 1;
  border: 0;
  background-color: #f9e2af;
}
.cid-r1ZUa4WSuk .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: opacity .5s;
  background-color: #000000;
  font-size: 2rem;
  opacity: .5;
}
.cid-r1ZUa4WSuk .carousel-indicators li:hover {
  opacity: 1;
}
.cid-r1ZUa4WSuk .carousel-controls {
  display: none;
}
@media (max-width: 991px) {
  .cid-r1ZUa4WSuk .carousel-controls {
    display: block;
  }
  .cid-r1ZUa4WSuk .carousel-controls a {
    transition: opacity .5s;
    font-size: 2rem;
  }
  .cid-r1ZUa4WSuk .carousel-controls a span {
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
    background: #444444;
    opacity: .9;
  }
  .cid-r1ZUa4WSuk .carousel-controls a:hover span {
    opacity: 1;
  }
  .cid-r1ZUa4WSuk .carousel-indicators {
    display: none;
  }
}
@media (max-width: 540px) {
  .cid-r1ZUa4WSuk .text-element {
    padding: 1rem;
  }
  .cid-r1ZUa4WSuk .carousel-controls {
    display: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-r1ZUa4WSuk .image-element {
    min-width: 50%;
  }
  .cid-r1ZUa4WSuk .media-container-row {
    width: 100%;
  }
}
.cid-r1ZUaXXt2x {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-r1ZUaXXt2x .mbr-text {
  color: #444444;
}
.cid-r1ZUaXXt2x .card-title {
  color: #f9e2af;
}
.cid-r1ZUaXXt2x .card .card-img span {
  color: #000000;
  font-size: 60px;
}
@media (max-width: 767px) {
  .cid-r1ZUaXXt2x .card {
    padding-bottom: 2rem !important;
  }
}
.cid-r1ZUcC3nG8 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-r1ZUcC3nG8 .menu-item {
  padding: 0 1rem 1rem 1rem;
}
.cid-r1ZUcC3nG8 .menu-item .special-label {
  display: none;
}
.cid-r1ZUcC3nG8 .menu-item.special-item {
  padding-bottom: 0;
  margin-bottom: 1rem;
  border: 2px solid #9f3942;
}
.cid-r1ZUcC3nG8 .menu-item.special-item .special-label {
  display: block;
  width: 100%;
  word-break: break-word;
}
.cid-r1ZUcC3nG8 .menu-item.special-item .special-label .label-text {
  max-width: 100%;
  background: #9f3942;
  padding: .5rem 1rem;
  display: inline-block;
}
.cid-r1ZUcC3nG8 .special-label {
  color: #fff;
}
.cid-r1ZUcC3nG8 .menu-box {
  display: flex;
  justify-content: space-between;
}
.cid-r1ZUcC3nG8 .menu-box .box-text {
  word-break: break-word;
  padding-right: 2rem;
  width: 100%;
}
.cid-r1ZUcC3nG8 .menu-box .box-price {
  flex-shrink: 0;
}
.cid-r1ZUcC3nG8 .menu-row .menu-item:last-child {
  margin-bottom: 2rem;
}
.cid-r1ZUcC3nG8 .menu-row {
  margin: 0;
}
.cid-r1ZUcC3nG8 .group-title {
  color: #9f3942;
  font-weight: bold;
}
.cid-r1ZUdVr4tq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-r1ZUdVr4tq .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-r1ZUdVr4tq .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-r1ZUdVr4tq .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-r1ZUdVr4tq .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-r1ZUdVr4tq .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background: linear-gradient(180deg, #ffffff, #f9e2af);
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-r1ZUdVr4tq .icon-focus {
  display: none;
}
.cid-r1ZUdVr4tq .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: left;
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-r1ZUdVr4tq ul {
  font-size: 0;
}
.cid-r1ZUdVr4tq .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-r1ZUdVr4tq .mbr-gallery-filter ul li .btn.active {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-r1ZUdVr4tq .mbr-gallery-filter ul li .btn.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #f9e2af, #f5aeb5);
}
.cid-r1ZUdVr4tq .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-r1ZUdVr4tq .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-r1ZUdVr4tq .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-r1ZUdVr4tq .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-r1ZUdVr4tq .btn:hover {
  background: transparent !important;
}
.cid-r1ZUdVr4tq .btn:hover:before {
  background: transparent !important;
}
.cid-r1ZUdVr4tq .btn:before {
  background-color: transparent !important;
}
.cid-r1ZUdVr4tq .btn:focus {
  box-shadow: none;
}
.cid-r1ZUdVr4tq .mbr-section-title {
  position: relative;
  z-index: 1;
}
.cid-r1ZUgL5Lxn {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-r1ZUgL5Lxn *:focus {
  outline: none;
}
.cid-r1ZUgL5Lxn .form-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.cid-r1ZUgL5Lxn .img-block img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
}
.cid-r1ZUgL5Lxn .mbr-figure {
  height: 100%;
}
.cid-r1ZUgL5Lxn .input-wrap {
  padding-bottom: 1rem;
  position: relative;
}
.cid-r1ZUgL5Lxn .input-wrap input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dedede;
}
.cid-r1ZUgL5Lxn .btn-row {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-r1ZUgL5Lxn .img-block {
    padding-bottom: 3rem;
  }
  .cid-r1ZUgL5Lxn .form-1 {
    padding-top: 0;
  }
}
.cid-r1ZUr0pKDz {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-r1ZUr0pKDz .row {
  flex-direction: row-reverse;
}
.cid-r1ZUr0pKDz .text-block {
  padding-right: 15px !important;
  padding-left: 5rem;
}
.cid-r1ZUr0pKDz .text-block {
  padding-right: 5rem;
}
.cid-r1ZUr0pKDz .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-r1ZUr0pKDz .underline .line {
  width: 5rem;
  height: 3px;
  background: #f9e2af;
  display: inline-block;
}
.cid-r1ZUr0pKDz .social-media ul li {
  margin-left: 1rem;
  margin: 0;
  margin-right: 1rem;
}
.cid-r1ZUr0pKDz .social-media ul li .mbr-iconfont {
  color: #000000;
}
.cid-r1ZUr0pKDz .social-media ul li .mbr-iconfont:hover {
  color: #cccccc;
}
@media (max-width: 767px) {
  .cid-r1ZUr0pKDz .row {
    flex-direction: column-reverse;
  }
  .cid-r1ZUr0pKDz .img-block {
    margin-bottom: 1rem;
  }
  .cid-r1ZUr0pKDz .text-block {
    padding: 0 15px;
  }
}
.cid-r1ZUrNkpMV {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #85bfd0;
  background: linear-gradient(90deg, #85bfd0, #e2f7df);
}
.cid-r1ZUrNkpMV .mbr-section-title {
  margin-bottom: 0;
}
.cid-r1ZUrNkpMV .mbr-role {
  padding-bottom: .5rem;
}
.cid-r1ZUrNkpMV .mbr-iconfont {
  color: #cccccc;
  font-size: 1rem;
}
.cid-r1ZUrNkpMV .mbr-iconfont:hover {
  color: #f5aeb5;
}
.cid-r1ZUrNkpMV .image-wrap {
  position: relative;
  height: 100%;
}
.cid-r1ZUrNkpMV .image-wrap img {
  width: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: center center;
  height: 100%;
}
.cid-r1ZUrNkpMV .card-wrap {
  margin-bottom: 3rem;
  overflow-y: hidden;
  height: 400px;
}
.cid-r1ZUrNkpMV .social-media {
  list-style-type: none;
  width: 100%;
  z-index: 1;
}
.cid-r1ZUrNkpMV .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-r1ZUrNkpMV .social-media ul li {
  margin-right: .8rem;
  display: inline-block;
}
.cid-r1ZUrNkpMV .card-bottom {
  background-color: #ffffff;
  position: absolute;
  left: 15px;
  bottom: -92px;
  padding: 0 .5rem;
  width: calc(100% - 30px);
  transition: bottom 0.2s ease-in;
}
.cid-r1ZUrNkpMV .card-bottom:hover {
  bottom: 0;
}
.cid-r206vxoHjT {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-r206vxoHjT *:focus {
  outline: none;
}
.cid-r206vxoHjT .input-wrap {
  padding-bottom: 2rem;
}
.cid-r206vxoHjT .input-wrap input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  color: #000000;
  border-radius: 0;
}
.cid-r206vxoHjT textarea {
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  background: transparent;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 1px;
  color: #000000;
}
.cid-r206vxoHjT textarea:focus {
  color: #000000;
}
.cid-r206vxoHjT ::-webkit-input-placeholder {
  color: #000000;
}
.cid-r206vxoHjT ::-moz-placeholder {
  color: #000000;
}
.cid-r206vxoHjT :-ms-input-placeholder {
  color: #000000;
}
.cid-r206vxoHjT :-moz-placeholder {
  color: #000000;
}
.cid-r206vxoHjT .soc-item {
  display: inline-block;
  margin: 0 .2rem;
}
.cid-r206vxoHjT .soc-item .socicon {
  font-size: 1.5rem;
  color: #000000;
  opacity: 1;
}
.cid-r206vxoHjT .soc-item .socicon:hover {
  opacity: .5;
}
.cid-r206vxoHjT .form-control:focus {
  border: none;
  border-bottom: 2px solid;
  border-bottom-color: #000000;
  background: transparent;
}
.cid-r206vxoHjT .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-r206vxoHjT .first-column,
  .cid-r206vxoHjT .form-1 {
    text-align: center;
  }
}
.cid-r206A92l42 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-r206A92l42 .icons-block .mbr-iconfont {
  font-size: 1.5rem;
  color: #000000;
  opacity: .5;
}
.cid-r206A92l42 .icons-block .mbr-iconfont:hover {
  opacity: 1;
}
.cid-r206A92l42 .links-block ul li {
  margin: 0 1rem;
}
.cid-r206A92l42 .icons-block ul li {
  margin: 0 .5rem;
}
.cid-r206A92l42 .links-block ul,
.cid-r206A92l42 .icons-block ul {
  margin-bottom: 1.5rem;
}
